{
    "presets": [
        ["env", {"targets": {"node": "current"}}]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./frontend/"],
            "cwd": "babelrc"
        }]
    ],
    "sourceMaps": true
}
