body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: black;
    font-family: monospace;
    font-weight: normal;
}

#map {
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0;
    position: relative;
    overflow: hidden;
}

#status {
    display: block;
    position: relative;
    text-align: left;
    color: white;
}

.unit {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 12px;
    font-weight: bolder;
    line-height: 10px;
}

#landscape-layer {
    /*position: absolute;*/
    left: 0;
    top: 0;
    z-index: 0;
}

#item-layer {
/*    position: absolute;*/
    left: 0;
    top: 0;
    z-index: 1;
    color: #FFFFFF;
/*    display: block;
    position: absolute;*/
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 12px;
    line-height: 10px;
    font-weight: 900;
}

#npc-layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

#character-layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}


.character {
    color: #FFE616;
    display: block;
    position: absolute;
}

/*#item {
    color: #F2516C;
    display: block;
    position: absolute;
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    font-size: 12px;
    line-height: 10px;
}*/


.period {
    color: #00F8FF;
}

.comma {
    color: #32F6FD;
}

.semicolon {
    color: #7CF8FF;
}

.asterisk {
    color: #AAF8FF;
}

.grave {
    color: #8BCBD1;
}


@keyframes mining {
    0%   {color: lime}
    50%  {color: white}
    100% {color: lime}
}
